@use "../abstracts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background: $grad-3;
  @media only screen and (min-width: 1540px) {
    display: grid;
    justify-content: center;
  }
  @media only screen and (min-height: 810px) {
    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @media only screen and (min-width: 1000px) {
    display: grid;
    height: inherit;
    grid-template-columns: 57% 1fr;
    grid-template-rows: 108px 1fr;
    place-items: center;
    text-align: left;
    max-width: 1540px;
    max-height: 900px;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    @media only screen and (min-width: 1540px) {
      overflow: visible;
      width: 1500px;
    }
  }
}
